<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- icon font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <title>Main Page</title>
</head>


<body>

    <div class="bg-dark py-3">
        <div class="container text-light">
            <div class="row justify-content-around">
                <div class="col-7">
                    <h5>Welcome <span class="text-info">{{current_user.first_name}}</span>!</h5>
                </div>
                <div class="col-5 text-right">
                    <a href="/wishes/stats" class="btn btn-outline-light btn-sm">View Stats</a>
                    <a href="/wishes/new" class="btn btn-outline-light btn-sm">Add a wish</a>
                    <a href="/logout" class="btn btn-outline-light btn-sm">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <h5>Your wish list</h5>
        <div class="row bg-secondary text-white py-2">
            <div class="col-4">Item</div>
            <div class="col-3">Date added</div>
            <div class="col-5">Actions</div>
        </div>
        {% for wish in user_wishes_pending %}
        <div class="row py-1 my-2">
            <div class="col-4 py-2">{{wish.title}}</div>
            <div class="col-3 py-2">{{wish.created_at | date}}</div>
            <div class="col-5 nav">
                <div class="nav-item">
                    <form action="/wishes/remove_process" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="wish_id" value="{{wish.id}}">

                        <button class="btn btn-link">Remove</button>
                    </form>
                </div>

                <div class="nav-item">
                    <a class="btn btn-link" href="wishes/edit/{{wish.id}}">Edit</a>
                </div>

                <div class="nav-item">
                    <form action="wishes/granted_process" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="wish_id" value="{{wish.id}}">
                        <button class="btn btn-link">Granted</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- granted list -->
    <div class="container">
        <h5>Granted list</h5>

        {% for granted in all_wished_granted %}
        <div class="border m-3 p-3 rounded bd-callout bd-callout-warning">
            <div class="row py-3 border-bottom">
                <div class="col-8">
                    <span class="bg-danger text-white p-2 small rounded-pill">Item</span> {{granted.title}} </div>
                <div class="col-4 text-right row">
                    <div class="col-4">
                        {{granted.likes.all | length}}
                        <i class="fab fa-gratipay text-warning"></i>
                    </div>

                    <!-- <p class="small">You liked this wish</p> -->
                    <div class="col-auto ">
                        {% if granted.id in user_liked_wishes_id_list %}
                        <form action="/wishes/unlike_process" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="wish_id" value="{{granted.id}}">
                            <button class="btn-sm btn btn-link">Unlike</button>
                        </form>

                        {% else %}
                        <form action="/wishes/like_process" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="wish_id" value="{{granted.id}}">
                            <button class="btn-sm btn btn-link">Add a Like</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6">
                    <span class="small">Wisher:</span>
                    <p>{{granted.user.first_name}} {{granted.user.last_name}}</p>
                </div>
                <div class="col-3 border-left">
                    <span class="small">Date added</span>
                    <p>{{granted.created_at | date}}</p>
                </div>
                <div class="col-3 border-left">
                    <span class="small">Date Granted</span>
                    <p>{{granted.updated_at | date}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- each granted -->

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>